.hero {
  background-image: url('./assets/contact-hero.jpg');
  min-width: 100%;
  height: 40rem;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
}

.office-info {
  display: flex;
  width: 100%;
}

.container {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.office-info h3 {
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
}

.office-info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
}

.form-container {
  width: 100%;
  margin-top: 6rem;
}

.form-container h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns:
    minmax(1rem, 6rem)
    minmax(12rem, 18rem)
    minmax(2.5rem, 12fr)
    minmax(12rem, 18rem)
    minmax(1rem, 6rem);
  background-color: #619b8a;
  width: 926px;
  margin: auto;
  padding: 2.5rem 0;
  border-radius: 4px;
  gap: 2.5rem 0;
}

.form input,
.form textarea {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  padding: 0.7rem;
  border-radius: 2px;
  border: none;
  font-size: 12pt;
}

.form #fname {
  grid-column: 2;
}

.form #lname {
  grid-column: 4;
}

.form #email {
  grid-column: 2;
}

.form #number {
  grid-column: 4;
}

.form #message {
  width: 100%;
  height: 10rem;
  grid-column: 2/5;
}

.form .submit-container {
  grid-column: 2/5;
  display: flex;
  justify-content: center;
}

.form #submit {
  color: #619b8a;
  margin: auto;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 12pt;
}

.form ::placeholder {
  color: #619b8a;
  opacity: 0.5;
}

@media screen and (max-width: 1064px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 926px) {
  .form {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 900px) {
  .office-info h3 {
    font-size: 3vw;
  }

  .office-info p {
    font-size: 2.5vw;
  }

  .form-container h3 {
    font-size: 3.2vw;
  }
}
@media screen and (max-width: 600px) {
  .office-info h3 {
    font-size: 5vw;
  }

  .office-info p {
    font-size: 3vw;
  }

  .form-container h3 {
    font-size: 5.3vw;
  }
}
