html,
body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin: 3rem 2rem;
}

.logo {
  height: 13.5rem;
}

.menu {
  display: flex;
  align-items: center;
  margin: 6rem 0rem;
  margin-right: 6.75%;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}

.menu li {
  /* font-size: 24pt; */
  font-size: clamp(1rem, 10vw, 2rem);
  white-space: nowrap;
}

.menu li a {
  padding: 1rem;
  text-decoration: none;
  color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin: 5rem 10rem;
  align-items: center;
}

.links a {
  font-family: 'Open Sans', sans-serif;
  font-size: 24pt;
  align-content: center;
  margin: 0 1rem;
  text-decoration: none;
  color: black;
}

.socials img {
  margin: 0 3rem;
}

@media screen and (max-width: 1350px) {
  .menu {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .menu p {
    font-size: 16pt;
  }
}
