html,
body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin: 3rem 2rem;
}

.logo-text {
  margin-left: 2rem;
}

.menu {
  display: flex;
  margin: 6rem 2rem;
  margin-right: 8rem;
}

.menu p {
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
  font-size: 24pt;
}
