.main-container {
  margin: 1rem 0;
  text-align: center;
}

.main-container h2 {
  margin-bottom: 5rem;
  font-size: 3vw;
  white-space: nowrap;
  font-family: 'Open Sans', sans-serif;
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.service-container .service {
  flex-basis: 35vw;
}

.service-container h4 {
  color: #ffffff;
}

.service-container .service p {
  font-family: 'Source Serif Pro', serif;
  font-size: 18pt;
  text-align: center;
}

.service-container .service .image {
  height: 23.65vw;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
}

.service-container .service .image .blur {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(0.8) blur(5px);
}

@media screen and (max-width: 1326px) {
  .main-container h2 {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 640px) {
  .service-container {
    flex-direction: column;
    width: 60vw;
    margin: auto;
  }

  .service-container .service {
    flex-basis: unset;
  }

  .service-container .service .image {
    height: 40.5vw;
  }
}

@media screen and (max-width: 900px) {
  .main-container h2 {
    font-size: 4vw;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .main-container h2 {
    font-size: 5vw;
  }
}
